<!-- Her indsættes en liste af tweets. Husk at design html i denne fil og css i tweets.component.css-->
<h1 class="text-center">Tweets</h1>
<br />
<br />
<table class="table table-dark">
  <thead>
  <th scope="col">#</th>
  <th scope="col">Text</th>
  <th scope="col">Likes</th>
  <th scope="col">Date</th>
  </thead>
  <tbody>
    <tr *ngFor="let tweet of twat; let i = index">
      <th>{{i}}</th>
      <td *ngIf="DoesHappyExists(tweet.text)" style="background-color: lightgreen">{{tweet.text}}</td>
      <td *ngIf="!DoesHappyExists(tweet.text)">{{tweet.text}}</td>
      <td>{{tweet.likes}}</td>
      <td>{{tweet.date}}</td>
    </tr>
  </tbody>
</table>
<br />
<h1 class="text-center">Tweets operator</h1>
<br />
<table class="table table-dark">
  <thead>
  <th scope="col">#</th>
  <th scope="col">Text</th>
  <th scope="col">Likes</th>
  <th scope="col">Date</th>
  </thead>
  <tbody>
    <tr *ngFor="let tweet of twat; let i = index">
      <ng-container *ngIf="IsTweetFromMayAndHasLikes(tweet)">
        <th>{{i}}</th>
        <td *ngIf="DoesHappyExists(tweet.text)" style="background-color: green">{{tweet.text}}</td>
        <td *ngIf="!DoesHappyExists(tweet.text)">{{tweet.text}}</td>
        <td>{{tweet.likes}}</td>
        <td>{{tweet.date}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
