.sm-text {
    font-size: 8px;
}

.md-text {
    font-size: 10px;
}

.bg-text {
    font-size: 20px;
}

.bold-text {
    font-weight:bolder;
}

.hidden-items {
    display:none;
}

.fronItem {
    display:block;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.showItems:hover .hidden-items {
  display: block;
}

.showItems:hover .fronItem {
  display: none;
}
