<div class="border rounded py-1 px-1 showItems" style="background-color:{{color}}">
  <div class="hidden-items">
    <div class="row">
      <div class="col md-text">{{element.getAtomicNumber()}}</div>
    </div>
    <div class="row">
      <div class="col bg-text bold-text">{{element.getSymbol()}}</div>
      <div class="col text-right sm-text">{{element.getElectronsPerShell()}}</div>
    </div>
    <div class="row">
      <div class="col md-text">{{element.getName()}}</div>
    </div>
    <div class="row">
      <div class="col md-text">{{element.getAtomicWeight()}}</div>
    </div>
  </div>
  <div class="fronItem">
    {{element.getSymbol()}}
  </div>
</div>
